@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap");


* {
    font-family: "Poppins", sans-serif;
}

body {
    /* visibility: hidden; */
    scroll-behavior: smooth;
}

body.modal-open {
    padding-right: 0 !important;
}

.modal-open .navbar {
    padding-right: 0 !important;
}


.ov-y-hidden:not(img) {
    overflow-y: hidden;

}

.ov-x-hidden:not(img) {
    overflow-x: hidden;
}

/* [data-aos] {
    overflow-x: hidden;
} */

.font-normal {
    font-weight: 400 !important;
}

.font-medium {
    font-weight: 500 !important;
}

.font-semibold {
    font-weight: 600 !important;
}

.font-bold {
    font-weight: 700 !important;
}

.bg-powder-blue {
    background-color: #8ea8c3 !important;
}

[data-bs-theme="dark"] .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.image-slider>* {
    height: 200px;
    overflow: hidden !important;
}

/* a {
    color: inherit;
    text-decoration: none;
} */

#beranda {
    padding-top: 3rem;

    background-image: linear-gradient(to bottom, rgba(98, 126, 66, 0.5) 0%, #fcfcfd 100%) !important;
}

#diagnosis,
#penyakit,
#kontak {
    padding-top: 5rem;
}

footer {
    padding-top: 10rem;
}

@media (max-width: 992px) {
    #beranda {
        min-height: 85vh !important;
    }
}

.color-sage {
    background-color: #bbba71;
}

.color-bistre {
    background-color: #322416;
}

.color-black {
    background-color: #090806;
}

.color-dark-mose-green {
    background-color: #3d5509;
}

.color-fren-green {
    background-color: #627e42;
}

.color-asparagus {
    background-color: #759b67;
}

.btn-custom1 {
    background-color: #A09E4D !important;
    color: #fff !important;
}

.btn-custom1:hover {
    background-color: #919046 !important;
    color: #fff !important;
}

.cambridge-blue {
    color: #a0b195 !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #A09E4D !important;
}

.nav {
    --bs-nav-link-color: #090806 !important;
    --bs-nav-link-hover-color: #090806cb !important;
}

#upScroll {

    display: block;
    visibility: hidden;
    opacity: 0;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    /* border: none; */
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #627e42;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    /* Some padding */
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#upScroll:hover {
    background-color: #4e6434;
    /* Add a dark-grey background on hover */
}

#upScroll.show {
    visibility: visible;
    opacity: 1;
    /* Add a transition effect (when scrolling - show the button) */
    transition: opacity 0.5s ease-in-out;
}

#upScroll i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.shadow-custom {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
}

#exampleModal {
    z-index: 9999;
}
