name: Deploy to production

on:
  push:
    branches: [master]

concurrency: production_environment

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: csv, mbstring, bcmath, xml, gd

      - name: Install dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Deploy with deployer
        uses: deployphp/action@v1
        env:
          DOT_ENV: ${{ secrets.DOT_ENV }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          HOSTNAME: ${{ secrets.HOSTNAME }}
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        with:
          dep: deploy
          private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
